In [29]:
import pandas as pd
import yfinance as yf
import time
import datetime
from openpyxl import load_workbook

pd.set_option('display.max_rows', None)

In [34]:
today = datetime.date.today().strftime('%Y-%m-%d')
yesterday =  datetime.datetime.now() - datetime.timedelta(days=1)
yesterday = yesterday.strftime('%Y-%m-%d')
print("today: {}, yesterday: {}".format(today, yesterday))

today: 2020-06-25, yesterday: 2020-06-24

In [13]:
def UpdateStockPricing(): 
    
    filename = "Combined BoA-ML Portfolios 6-30-20 v.1.xlsx"
    data = pd.ExcelFile(filename)
    sheet3 = data.parse("Sheet3")

    ticker_syms = sheet3["Ticker Symbols"][1:220].str.strip()
    stocks = []
    
    for tickr in ticker_syms:
        tkr = yf.Ticker(tickr).history(period="1d")
        print(tickr)
        print(tkr["Close"])
        print("-"*80)
        try:
            stocks.append(tkr["Close"].iloc[0])
        except IndexError:
            stocks.append("Price currently unavailable")
        except JSONDecodeError:
            stocks.append("Price currently unavailable")
        time.sleep(.5)
        
    df = pd.DataFrame({'End of Mo Price': stocks})
    
    df.to_csv("Final_test.csv")
    # writer = pd.ExcelWriter(filename, engine='openpyxl')
    # writer.book = load_workbook(filename, read_only=False, keep_vba=True)
    # writer.sheets = dict((ws.title, ws) for ws in writer.book.worksheets)

    # df.to_excel(writer, sheet_name='Sheet3', header=None, index=False,
    #         startcol=2,startrow=2)

    # writer.save()

In [14]:
#UpdateStockPricing()

In [15]:
filename = "Combined BoA-ML Portfolios 6-30-20 v.1.xlsx"
data = pd.ExcelFile(filename)
sheet3 = data.parse("Sheet3")

raw = sheet3[["Stock Name", "Ticker Symbols"]][:408]
all_syms = raw.dropna()

In [16]:
test = sheet3["Ticker Symbols"][:408]
test = test.dropna().str.strip().drop_duplicates()
len(test)

204

In [36]:
list(test[:5])

['AAPL', 'ABT', 'ACWV', 'ADBE', 'ADI']

In [63]:
All_Tks_Raw = yf.download(list(test[:5]), start='2020-06-18', end=today, progress=True)
All_Tks = All_Tks_Raw["Adj Close"].transpose()

[*********************100%***********************]  5 of 5 completed

In [64]:
All_Tks

Date  2020-06-18  2020-06-19  2020-06-22  2020-06-23  2020-06-24
AAPL  351.730011  349.720001  358.869995  366.529999  360.059998
ABT    90.279999   90.680000   90.339996   91.300003   87.300003
ACWV   88.279999   87.730003   88.300003   88.160004   86.830002
ADBE  420.459991  428.010010  438.640015  440.549988  431.679993
ADI   122.809998  120.180000  120.500000  123.250000  119.470001

In [72]:
#All_Tks.drop(['2020-06-25'], axis=1)
#All_Tks = All_Tks['2020-06-24'] 
cur = datetime.datetime.now().time()
cur

datetime.time(7, 26, 58, 966295)

In [62]:
All_Tks

AAPL      360.059998
ABT        87.300003
ACWV       86.830002
ADBE      431.679993
ADI       119.470001
AIVSX      37.209999
AMGN      232.509995
AMZN     2734.399902
AOS        45.110001
APH        94.610001
ASYLX      12.620000
ATVI       75.580002
AVGO      306.970001
AVY       112.290001
AWK       124.400002
BAC        23.809999
BAH        77.199997
BAX        82.470001
BDX       232.809998
BLK       538.570007
BLUE       63.619999
BMY        57.759998
BP         23.139999
BR        122.699997
BRK-B     177.529999
BRKB      177.529999
BSPAX     362.480011
BSX        33.849998
BWXT       55.900002
C          50.810001
CASY      149.229996
CAT       122.059998
CDK        39.889999
CHD        76.250000
CLX       212.029999
CMCSA      38.560001
CMGUX       9.040000
COST      298.019989
CRM       185.550003
CSCO       44.750000
CSX        67.500000
CTSH       53.799999
CVS        63.180000
CVX        87.639999
DCI        43.080002
DD         51.540001
DE        150.490005
DG        191.850006
DIS       112.070000
DNKN       63.700001
DORM       65.980003
DOX        60.080002
EA        130.869995
EFA        60.540001
EFX       166.169998
EGFIX      43.650002
EPAM      247.500000
ETN        84.010002
ETR        93.510002
EW         67.489998
EXPD       73.620003
FAF        47.869999
FANG       41.900002
FB        234.020004
FDN       168.789993
FHB        16.809999
FLIR       38.939999
FRC       105.570000
GIS        60.290001
GL         71.190002
GOOG     1431.969971
GOOGL    1432.699951
GPC        84.669998
GSDUX      10.750000
HAS        70.940002
HBAN        9.540000
HD        246.130005
HDS        33.294998
HELE      181.169998
HES        48.959999
HON       138.350006
HPP        23.870001
HRC       101.680000
HSIC       56.180000
HSY       127.980003
HUBB      118.959999
HUN        17.570000
HXL        41.770000
IAA        39.080002
IBB       136.399994
ICE        90.709999
IDXX      319.380005
IEO        32.919998
IHI       255.690002
IJJ       129.199997
INTC       59.090000
INTU      286.130005
ISRG      554.960022
IT        115.660004
ITB        43.000000
ITW       169.029999
IWF       188.949997
IWM       138.330002
IWR        52.380001
JNJ       139.820007
JPM        94.660004
JPST       50.740002
KIE        26.719999
KO         44.650002
LBRDK     123.989998
LHX       168.240005
LLY       157.029999
LMT       359.820007
LSXMK      33.860001
LYB        60.639999
MA        294.010010
MCD       184.289993
MDLOX      19.129999
MDLZ       50.639999
MDT        88.349998
MKL       895.150024
MRK        75.870003
MRSKX      18.299999
MRVL       33.630001
MS         46.950001
MSFT      197.839996
MTB       102.919998
MTUM      128.460007
NFLX      457.850006
NI         22.400000
NKE       100.080002
NOC       301.910004
NRG        32.570000
NSP        61.500000
NUVA       54.860001
NVDA      369.420013
NVS        88.800003
OLLI       97.940002
OTIS       55.540001
PANW      223.399994
PBF        10.690000
PFE        32.189999
PG        116.419998
PLD        89.800003
PM         70.089996
PPL        25.520000
PTY        15.430000
PXD        92.160004
PYPL      168.000000
QCOM       89.139999
QQQ       243.710007
QUAL       94.669998
RGEN      113.139999
RHHBY      43.540001
RSP        99.459999
RTX        61.720001
SBUX       73.639999
SEDG      148.479996
SHW       566.650024
SON        49.779999
SPY       304.269989
SRE       118.995003
SSNC       55.490002
STOR       23.780001
SUI       137.770004
SYY        54.880001
T          29.420000
TCEHY      62.970001
TDOC      197.009995
TFC        37.660000
TGT       119.720001
TMUS      108.430000
TXN       123.989998
UI        166.669998
ULTA      200.000000
UNH       289.179993
UNP       165.550003
USMV       59.570000
V         191.410004
VFH        56.480000
VGT       272.459991
VLO        58.020000
VMC       118.059998
VTI       154.479996
VUG       199.259995
VZ         53.930000
WAT       177.360001
WMT       120.300003
WSO       170.559998
WWD        72.849998
XBI       111.419998
XEL        63.680000
XLB        54.570000
XLC        54.650002
XLE        37.110001
XLI        66.650002
XLP        57.910000
XLRE       33.959999
XLU        56.470001
XLV        97.720001
XLY       126.550003
XRAY       42.860001
Y         467.079987
ZBH       118.220001
Name: 2020-06-24 00:00:00, dtype: float64